.widgetSm {
  flex: 2;
  padding: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 5px 5px 0px 0px #289fed,
    11px -12px 50px 0px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 11px -12px 50px 0px rgba(0, 0, 0, 0);
}

.widgetSmTitle {
  font-size: 15px;
  font-weight: bolder;
  color: darkblue;
  display: flex;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.icon {
  cursor: pointer;
}
.widgetSmImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.widgetSmList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widgetSmListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.widgetSmUser {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}
.widgetSmUserName {
  font-weight: 700;
  font-size: 15px;
}

.widgetSmUserEmail {
  font-weight: 400;
  font-size: 13px;
}
.widgetSmUserTitle {
  font-weight: 400;
}

.widgetSmButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: rgb(99, 88, 88);
  cursor: pointer;
}

.widgetSmIcon {
  font-size: 16px;
  margin-right: 5px;
}
