.chart {
  flex: 5;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 0px 0px #289fed,
    11px -12px 50px 0px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 11px -12px 50px 0px rgba(0, 0, 0, 0);
}

.chartTitle {
  color: darkblue;
  font-size: 25px;
  display: flex;
  align-items: center;
}
